@font-face {
    font-family: 'Inter';
    src: url("../../../assets/Fonts/Inter-Regular.ttf") format('ttf');
}

.folder-buttons{
    display: flex;
    margin-top: 10px;
}

.dataset-icon-name{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
