@font-face {
    font-family: 'Montserrat';
    src: url("../../assets/Fonts/Montserrat-Regular.ttf") format('ttf');
}
.button{
    position: absolute;
    top:66vh;
}
.MainContent {
    position: relative;
    width: calc(100vw - 55px);
    height: calc(100vh - 55px);
    left: 0px;
    top:0px;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #F4EBEF;
}

.left {
    position: relative;
    left: 205px;
    width: calc(50vw - 260px);
    height: 100%;
    display: flex;
    /* background-color: aquamarine; */
    z-index: 1;
    flex-direction: column;
    min-height: 50vh;
}

.tg{
    max-width: calc(50vw - 260px);
    max-height: 40%;
    position: absolute;
    left: 0;
    top: 17.5vh;
    line-height: 7vh;
    width: calc(50vw - 260px);
    white-space: normal;
    height: 40%;
    display: flex;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-size: 3.26vw; */
    /* font-weight: 600; */
    /* background-color: blue; */
    min-height: 15%;

    font-family: 'Montserrat', sans-serif;
    font-size: 3.26vw;
    font-weight: 550;
    line-height: 53px;
    letter-spacing: 0.004em;
    text-align: left;


}

.one {
    color: #8069ED;
    /* background-color: aliceblue; */
} */
.description{
    max-width: 80%;
    max-height: 10%;
    min-height: 15%;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.39vw;
    font-weight: 100;
    position: absolute;
    left: 0;
    top: 45.5vh;
    width: calc(50vw - 260px);
    white-space: normal;
    height: 10%;
    display: flex;
    /* background-color: violet; */
    min-height: 15%;
    margin-bottom: 10px;
}


.right {
    width: calc((100vw - 55px)/2);
    /* background-color: red; */
    /* position: relative; */
    position: absolute;
    right:0;
    /* left: 0; */
    height: calc(100vh - 55px);
    display: flex;
    z-index: 1;

}

.graphic {
    position: absolute;
    right: 0px;
    width: calc((100vw - 205px)/2);
    height: calc(80vh - 55px);
    display: flex;
    top: 80px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}