@font-face {
    font-family: 'Inter';
    src: url("../../assets/Fonts/Inter-Regular.ttf") format('ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url("../../assets/Fonts//Montserrat-Regular.ttf") format('ttf');
}
#projectName {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    letter-spacing: 6px;
}
#pageName{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    letter-spacing: 3px;
}

.navbar {
    background-color: #DED7FF;
    height: 55px;
    padding: 0;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    width: calc(100vw - 55px);
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}
#pagename{
    margin-left: 20px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: bolder;
    align-items: center;
    letter-spacing: 6px;
    
}

.left-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left-list li {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.right-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.right-list li {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.right-list button {
    background: none;
    border: none;
    cursor: pointer;
    color: #8069ED;
}