/* :root {
    --background-color-light: #d5f2fc;
    --text-color-light: #000000;
    --background-color-dark: #014150;
    --text-color-dark: #fff;
    height:100vh;
    width: 100vw;
}

/* Global Light Mode Styles 
.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

/* Global Dark Mode Styles 
.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
} */